.board-column {
  width: 25%;
  display: flex;
  margin: 0 5px;
  min-width: 290px;
  max-height: 100%;
  border-radius: 5px;
  padding: 0 4px 0 8px;
  flex-direction: column;
  background-color: #e2e4e6;
}

.board-column.hovered {
  background-color: #c0ccd8;
}

.board-column-header {
  text-transform: uppercase;
}

.board-column-list {
  overflow-y: auto;
  padding: 0 8px 0 0;
  border-radius: 5px;
}

.board-column-footer {
  min-height: 20px;
}

#searchinput {
  display: block;
  margin-right: 4px;
  border-radius: 4px;
  margin-bottom: 5px;
  background-color: white;
}

#searchinput input {
  border: 0;
  padding: 10px;
  width: calc(100% - 25px);
  background-color: transparent;
}

#searchinput i {
  width: 20px;
  color: #cccccc;
  margin-right: 5px;
}
