.abstract-card-badge {
  border: 0;
  padding: 0;
  width: 14px;
  height: 14px;
  display: block;
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  border-radius: 50%;
  background: transparent;
  color: rgba(0, 0, 0, 0.05);
}

.abstract-card-badge:hover,
.abstract-card-badge.active {
  color: #AACCEE;
}

.abstract-card-badge + .abstract-card-badge {
  margin-top: 4px;
}

.abstract-card-date {
  margin: 0;
  margin-right: 25px;
}

.abstract-card-title {
  margin-top: 7px;
  font-size: 1.2em;
}

.abstract-card-left-column {
  padding-right: 12px;
}
