
.myjobboard-mail:before { content: '\e800'; } /* '' */
.myjobboard-cancel-circled:before { content: '\e801'; } /* '' */
.myjobboard-cancel:before { content: '\e802'; } /* '' */
.myjobboard-calendar:before { content: '\e804'; } /* '' */
.myjobboard-user:before { content: '\e805'; } /* '' */
.myjobboard-box:before { content: '\e807'; } /* '' */
.myjobboard-thumbs-up:before { content: '\e809'; } /* '' */
.myjobboard-thumbs-down:before { content: '\e80a'; } /* '' */
.myjobboard-comment:before { content: '\e80c'; } /* '' */
.myjobboard-search:before { content: '\e80d'; } /* '' */
.myjobboard-export:before { content: '\e80f'; } /* '' */