.fancy-scrollbar::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

.fancy-scrollbar::-webkit-scrollbar-track-piece {
  background: #D6DADC;
}

.fancy-scrollbar::-webkit-scrollbar-thumb {
  background: #C4C9CC;
}

.fancy-scrollbar::-webkit-scrollbar-thumb,
.fancy-scrollbar::-webkit-scrollbar-track,
.fancy-scrollbar::-webkit-scrollbar-track-piece {
  border-radius: 4px;
}
