.fancy-scrollbar {
  margin-right: 3px;
}

.fancy-scrollbar::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

.fancy-scrollbar::-webkit-scrollbar-track-piece {
  background: rgba(0, 0, 0, 0.05);
}

.fancy-scrollbar::-webkit-scrollbar-thumb {
  background: #D6DADC;
}

.fancy-scrollbar::-webkit-scrollbar-thumb,
.fancy-scrollbar::-webkit-scrollbar-track,
.fancy-scrollbar::-webkit-scrollbar-track-piece {
  border-radius: 4px;
}
