.splitter {
  border: 0;
  width: 100%;
  height: 1px;
  margin: 5px 0;
  display: block;
  background: #ededed;
}

.abstract-card-badge {
  border: 0;
  padding: 0;
  width: 14px;
  height: 14px;
  color: #ededed;
  display: block;
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  border-radius: 50%;
  background: transparent;
}

.abstract-card-badge:hover,
.abstract-card-badge.active {
  color: #aaccee;
}

.abstract-card-badge + .abstract-card-badge {
  margin-top: 4px;
}

.abstract-card-date {
  margin: 0;
  margin-right: 25px;
}

.abstract-card-title {
  margin-top: 7px;
  font-size: 1.2em;
}

.abstract-card-left-column {
  flex: 1;
  padding-right: 12px;
}

.abstract-card-right-column {
  flex: 0;
  min-width: 20px;
}
