@import url('./css/scrollbar.css');

body {
  margin: 0;
  padding: 0;
  color: #333333;
  font-size: 11px;
  font-family: sans-serif;
}

/* --------------------------------------------

 CLASSES

-------------------------------------------- */

.lock-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}

.screen {
  height: 100%;
  min-height: 100%;
  text-align: center;
  justify-content: flex-start;
}
