@import './scss/_variables.scss';
@import '~@iziges/napper-styles/styles.scss';
@import './scss/_animations.scss';

* {
  outline: none;
  box-sizing: border-box;
}

body {
  font-size: 11px;
  font-family: sans-serif;
}

#root {
  @extend .is-full-layout;
}

.no-no-flex-shrink {
  flex: 1 0 !important;
}

.no-no-flex-grow {
  flex: 0 1 !important;
}
