.fancy-scrollbar::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

.fancy-scrollbar::-webkit-scrollbar-track-piece {
  background: #00000011;
}

.fancy-scrollbar::-webkit-scrollbar-thumb {
  background: #4B5362;
}

.fancy-scrollbar::-webkit-scrollbar-thumb,
.fancy-scrollbar::-webkit-scrollbar-track,
.fancy-scrollbar::-webkit-scrollbar-track-piece {
  border-radius: 4px;
}
