$body-width: 100% !default;
$body-font-size: 16px !default;
$default-padding: 12px !default;
// $BorderStyle: solid;
// $BorderSizes: () !default;
// $BorderRadiusSizes: () !default;

$FontSizes: (6, 7, 8, 9, 11, 12, 18, 20, 22, 24) !default;
$MarginPaddingSizes: (3, 5, 6, 7, 9, 12, 18, 24, 48) !default;
