.board-column {
  width: 25%;
  display: flex;
  margin: 0 5px;
  min-width: 290px;
  max-height: 100%;
  border-radius: 5px;
  padding: 0 4px 0 8px;
  flex-direction: column;
  background-color: #E2E4E6;
}

.board-column.hovered {
  background-color: #C0CCD8;
}

.board-column-header {
  text-transform: uppercase;
}

.board-column-list {
  overflow-y: auto;
  padding: 0 8px 0 0;
  border-radius: 5px;
}

.board-column-footer {
  min-height: 20px;
}
