.kanban-card,
.kanban-card-placeholder {
  width: 100%;
  cursor: grab;
  height: 107px;
  border-radius: 5px;
  border-bottom: 1px solid #CCCCCC;
}

.kanban-card-placeholder {
  background-color: #AACCEE;
}

.kanban-card {
  padding: 10px;
  color: #333333;
  text-align: left;
  background-color: #FAFAFA;
}

.kanban-card-title span {
  max-height: 30px;
  overflow: hidden;
}

.kanban-card + .kanban-card,
.kanban-card-placeholder + .kanban-card,
.kanban-card + .kanban-card-placeholder {
  margin-top: 5px;
}
