.kanban-card,
.kanban-card-placeholder {
  width: 100%;
  cursor: grab;
  height: 107px;
  border-radius: 5px;
  border-bottom: 1px solid #CCCCCC;
}

.kanban-card-placeholder {
  background-color: #AACCEE;
}

.kanban-card {
  padding: 10px;
  color: #333333;
  text-align: left;
  background-color: #FAFAFA;
}

.kanban-card-button {
  top: 4px;
  border: 0;
  right: 4px;
  width: 22px;
  height: 22px;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
}

.kanban-card-date {
  margin: 0;
  text-align: right;
  margin-right: 25px;
}

.kanban-card-title {
  margin-top: 7px;
  font-size: 1.2em;
}

.kanban-card-title span {
  max-height: 30px;
  overflow: hidden;
}

.kanban-card + .kanban-card,
.kanban-card-placeholder + .kanban-card,
.kanban-card + .kanban-card-placeholder {
  margin-top: 5px;
}
